<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="parte-1">
        mostrar matrices
    </div>
    <div class="parte-3">
        mostrar los dos sistemas
    </div>
    <div class="parte-4">
        mostrar para cada problema, por cada método:
        - tiempo ejecucion
        - resultado (solucion)
        - (en caso jacobi y gauss-seidel) mostrar numero de iteraciones
        - errores relativos de jacobi y de gauss-seidel respecto al resultado de gauss simple
    </div>
</body>
</html>