.content-wrap {
    width: max-content;
    margin: 0 auto;
}

.method:not(:last-child) {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin: 0 auto;
    
}
ul li:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,.1);
}
ul li a {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}
ul li a span {
    width: 221px;
    border-bottom: 2px solid transparent;
}
ul li a:hover span {
    border-color: var(--pc-light)
}