<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/sistemas.css">
        <title>Resolver sistemas de ecuaciones</title>
    </head>
    <body>
        <div class="content-wrap">
            <h1>Resolución de raices</h1>
            <a href="/" class="back-to">Regresar al inicio</a>
            <div class="method">
                <ul>
                    <li><a href="/equationssystem/1"><span>Resolver Sistema/Problema #1</span></a></li>
                    <li><a href="/equationssystem/2"><span>Resolver Sistema/Problema #2</span></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
