<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <title>Calculadora Númerica</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Seleccione el tema que implementará</h1>
                <div class="link-wrap">
                    <a href="/roots">Resolver raices</a>
                    <a href="/equationssystem">Resolver sistemas de ecuaciones</a>
                </div>
            </div>
        </main>
    </body>
</html>
