<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/raices.css">
        <title>Resolver raices</title>
    </head>
    <body>
        <div class="content-wrap">
            <h1>Resolución de raices</h1>
            <a href="/" class="back-to">Regresar al inicio</a>
            <div class="method">
                <h2>Método de Newton</h2>
                <ul>
                    <li><a href="/raices-resolucion?function=2B"><span>Resolver ejercicio:</span> <img src="/static/NEWTON y SECANTE, 2B.png" alt=""></a></li>
                    <li><a href="/raices-resolucion?function=2C"><span>Resolver ejercicio:</span> <img src="/static/NEWTON y SECANTE, 2C.png" alt=""></a></li>
                </ul>
            </div>
            <div class="method">
                <h2>Método de Bisección</h2>
                <ul>
                    <li><a href="/raices-resolucion?function=1B"><span>Resolver ejercicio:</span> <img src="/static/BISECCION, 1B.png" alt=""></a></li>
                    <li><a href="/raices-resolucion?function=1C"><span>Resolver ejercicio:</span> <img src="/static/BISECCION, 1C.png" alt=""></a></li>
                </ul>
            </div>
            <div class="method">
                <h2>Método de la Secante</h2>
                <ul>
                    <li><a href="/raices-resolucion?function=2B"><span>Resolver ejercicio:</span> <img src="/static/NEWTON y SECANTE, 2B.png" alt=""></a></li>
                    <li><a href="/raices-resolucion?function=2C"><span>Resolver ejercicio:</span> <img src="/static/NEWTON y SECANTE, 2C.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
