<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/raices-resolucion.css">
        <title>Resolución de raiz</title>
    </head>
    <body>
        <div class="content-wrap">
            <h1>Resolución de la raiz mediante el método seleccionado</h1>
            <a href="/roots" class="back-to">Regresar al menú de métodos</a>
            <div class="result-wrap">
                <div class="img-wrap">
                    <img src="{{ image }}" alt="">
                </div>
                <div class="resume">
                    <div>
                        <h2>Resumen</h2>
                        <p>Valor al que converge: <b>{{ x }}</b></p>
                        <p>Valor f(x): <b>{{ fx }}</b></p>
                        <div class="control-method">
                            <p>Valor al que converge (según software): <b><!--VALOR--></b></p>
                            <p>Valor f(x) (según software): <b><!--VALOR--></b></p>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>Iteración #</th>
                            <th>Valor de la función (f(x))</th>
                            <th>Error relativo actual</th>
                        </tr>
                        {% for r in results %}
                            <tr>
                                <td>{{ r.iteration }}</td>
                                <td>{{ r.point[1] }}</td>
                                <td>{{ r.error }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
